ul {
    display: flex;
    /* text-decoration: none; */
  }
  li{
    margin: 10px;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
  header {
    display: flex;
    justify-content:space-between;
    padding: 0 15%;

  }
 
.blog,
.newblog{
    color: rgb(90, 15, 15);
}
button{
    background-color:rgb(163, 35, 35) ;
    color: white;
    border-radius: 10px;
    border: none;
    width: 90px;
    height: 30px;
  
  }
  button:hover{
    opacity: 0.8;
  }
  h1{
    color:rgb(90, 15, 15); ;
  }
.umumi{
    /* text-align: center; */
    padding: 0 15%;
}